# Postgres Global Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_PORT=5432
SERVER_PORT=8080

# Redis Config
REDIS_PORT=6379
REDIS_PASSWORD=sua_senha_aqui

# Database Names
AUTH_DB_NAME=auth_db
CATALOG_DB_NAME=catalog_db
ORDER_DB_NAME=order_db
PAYMENT_DB_NAME=payment_db